@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes moveLogo {
    0% {
        width: 265px;
        height: 323.1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        width: 100.03px;
        height: 121.97px;
        position: absolute;
        top: 80px;
        left: 77px;
        transform: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    margin: 0;
    background-color: white;
    font-family: "Open Sans", sans-serif;
}

.animated-overlay-big {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #4589ff;
    z-index: 100;
    animation: fadeOut 0.5s ease-in-out 1s forwards;
    pointer-events: none;
}

.animated-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.animated-logo {
    width: 265px;
    height: 323.1px;
    animation: moveLogo 0.5s ease-in-out 1s forwards;
}

.content-header {
    display: flex;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: absolute;
    top: 80px;
    left: 77px;
    width: 100.03px;
    height: 121.97px;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 1.5s forwards;
}

.sign-up-container {
    position: absolute;
    top: 67px;
    right: 77px;
    display: flex;
    gap: 35px;
    align-items: center;
    flex-direction: row;
}

.sign-up-text {
    font-size: 16px;
    font-weight: 400;
    color: #42526E;
}

.sign-up-button {
    cursor: pointer;
    background-color: #4589FF;
    color: white;
    border-radius: 8px;
    padding: 10px 16px;
    border: none;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.log-in-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    width: 652px;
    height: 448px;
    padding: 48px 115px;
    box-sizing: border-box;
}

.log-in-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-in-headline {
    font-size: 48px;
    font-weight: 700;
    color: #000000;
}

hr {
    border: 2px solid #4589FF;
    width: 150px;
}

.log-in-form {
    display: flex;
    flex-direction: column;
    gap: 39px;
    padding-top: 39px;
}

.log-in-form input {
    color: #D1D1D1;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    border: none;
    border-bottom: 1px solid #D1D1D1;
}

#log-in-email {
    background: url("./assets/mail.png") no-repeat;
    background-position: right;
    background-size: 20px 16px;
    cursor: pointer;
    color: #000000;
}

#log-in-password {
    background: url("./assets/lock.png") no-repeat;
    background-position: right;
    background-size: 16px 21px;
    cursor: pointer;
    color: #000000;
}

.log-in-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 39px;
}

.log-in-button {
    background-color: #4589FF;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 10px 35px;
    cursor: pointer;
}

.log-in-button:hover, .guest-login-button:hover, .sign-up-button:hover {
    transform: scale(1.20);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.guest-login-button {
    background-color: white;
    color: #647188;
    border-radius: 8px;
    padding: 10px 35px;
    border: 1px solid #647188;
    cursor: pointer;
}

.footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 39px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.privacy-policy, .legal-notice {
    text-decoration: none;
    color: #42526E;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.privacy-policy:hover, .legal-notice:hover {
    transform: scale(1.20);
    color: #4589FF;
}

.log-in-form input:focus {
    outline: none;
}


