.middle-row-left:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 0px #00000029;
    scale: 1.055;
    transition: all 0.1s ease-in-out;
    border-radius: 0px 30px 30px 30px;
}

.middle-row-left:hover .middle-row-left-left-top span,
.middle-row-left:hover .middle-row-left-left-bottom span,
.middle-row-left:hover .middle-row-left-right-top,
.middle-row-left:hover .middle-row-left-right-bottom {
    color: #4589ff;
}

.middle-row-left:hover .middle-row-left-middle{
    background-color: #005DFF;
}

.middle-row-left:hover img{
    scale: 1.2;
    transition: all 0.1s ease-in-out;
}

.middle-row-right:hover{
    border-radius: 0px 30px 30px 30px;
    scale: 1.055;
    transition: all 0.1s ease-in-out;
    background-color: #005DFF;
}

.middle-row-right:hover span{
    color: #ffffff;
}

.middle-row-right:hover img{
    border-radius: 50%;
    border: 3px solid white;
    box-sizing: border-box;
}

.bottom-row-type-1:hover{
    border-radius: 0px 30px 30px 30px;
    scale: 1.055;
    transition: all 0.1s ease-in-out;
    background-color: #ffffff;
}

.bottom-row-type-1:hover span{
    color: #005DFF;
}

.bottom-row-type-2:hover{
    border-radius: 0px 30px 30px 30px;
    scale: 1.055;
    transition: all 0.1s ease-in-out;
    background-color: #005DFF;
}

.bottom-row-type-2:hover span{
    color: #ffffff;
}

.bottom-row-type-2:hover img{
    border-radius: 50%;
    border: 3px solid white;
    box-sizing: border-box;
}



